*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-variant: small-caps;
  margin-bottom: 20px;
}

.language-menu {
  margin-left: auto;

  a {
    padding: 8px 10px;
    width: 100px;
    transition: border-left 0.3s ease-in-out;
    border-left: 2px solid #fff;
    color: #333;

    &:hover {
      border-left: 2px solid #a00;
    }

    &:visited {
      color: #333;
    }
  }
}

.main-menu {
  border-left: 2px solid #a00;
  padding-left: 10px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: 18px;
    padding: 5px 10px;
    text-decoration: none;
    transition: border-bottom 0.3s ease-in-out;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: #a00;
    }
  }

  li + li {
    margin-left: 2px;
  }

  li.active {
    a {
      border-color: #a00;
    }
  }
}

.content {
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;

  .logo {
    width: 75%;
  }
}
