<header class="header">
  <h1 class="title">{{ .Site.Title }}</h1>
  <nav class="language-menu">
    {{ if .IsTranslated }}
    <nav class="LangNav">
      {{ range .Translations }}
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{ end}}
    </nav>
    {{ end }}
  </nav>
</header>

<nav class="main-menu">
  <ul>
    {{- $currentPage := . -}}
    {{ range .Site.Menus.main -}}
      <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>
